pkgbase = qemu-user-static-bin
	pkgdesc = A generic and open source machine emulator, statically linked
	pkgver = 7.2
	pkgrel = 6
	url = http://wiki.qemu.org
	arch = x86_64
	arch = i686
	arch = aarch64
	arch = armv7h
	arch = armv6h
	license = GPL2
	license = LGPL2.1
	depends = binfmt-qemu-static
	provides = qemu-user
	provides = qemu-user-static
	provides = qemu-arm-static
	conflicts = qemu-user
	conflicts = qemu-user-static
	conflicts = qemu-arm-static
	source_x86_64 = https://deb.debian.org/debian/pool/main/q/qemu/qemu-user-static_7.2+dfsg-7_amd64.deb
	sha256sums_x86_64 = 9c1fd68add338081530648ce08c81f8ca8a01fa3a9bc40a14734936221a89b34
	source_i686 = https://deb.debian.org/debian/pool/main/q/qemu/qemu-user-static_7.2+dfsg-7_i386.deb
	sha256sums_i686 = b4e6d139b3315f9736e62b6dcada163cb823de566b607cf8c954515049c44413
	source_aarch64 = https://deb.debian.org/debian/pool/main/q/qemu/qemu-user-static_7.2+dfsg-7_arm64.deb
	sha256sums_aarch64 = cad72fa132bf48dd083ba8d395b91ee51499daf7e402a69be42b0003434dfac7
	source_armv7h = https://deb.debian.org/debian/pool/main/q/qemu/qemu-user-static_7.2+dfsg-7_armhf.deb
	sha256sums_armv7h = 40a707c6dd34bf3782c07c9bfa02e10e82549e00f9877149a405ddb4883f9493
	source_armv6h = https://deb.debian.org/debian/pool/main/q/qemu/qemu-user-static_7.2+dfsg-7_armel.deb
	sha256sums_armv6h = cd8948368cc01bf1c828ec63238af726d659df84591cddee01af2ddf7a547890

pkgname = qemu-user-static-bin
